{{!< default}}
<div class="container">
	<div class="jumbotron">
		{{!-- <img src="/images/logo.svg" width="160"> --}}
		<h1>Welcome to SMS RUMS</h1>
		<h3>SMS Range User Management System</h3>
		<p>Track and Log all user activities within your Gun Range!</p>
		<p>
			<ul>
				<li>Check-Ins</li>
				<li>Check-Outs</li>
				<li>Ammo Purchases</li>
				<li>Ammo Returns</li>
			</ul>
		</p>
	</div>
</div>
